:root {
    --primary-color: green;
    --secondary-color:red; 
}

div{
 height:250;
 width:250px;   
}

#div1{
   background-color:var(--primary-color);
   position:absolute;
   z-index:2;
}
#div2{
  background-color:var(--secondary-color);
  position:absolute;
  left:150px;
  top:150px;
  z-index:1;
}

@media screen and (max-width: 600px) {
    :root {
    --primary-color: blue;
    --secondary-color:aqua; 
}
    
}
