div{
      background-color: green;
      display:inline;
}

span{
      background-color: pink;
      display: block;
}

.p1{
    width: 600px;
    margin auto;
    border: 3px solid orange;
}
.p2{
   max- width: 600px;
    margin auto;
    border: 3px solid yellow;
}