 body {
     font-family: Arial, sans-serif;
     background-color: #f4f4f4;
     padding: 20px;
 }

 h2 {
     text-align: center;
     color: #333;
 }

 table {
     width: 80%;
     margin: 20px auto;
     border-collapse: collapse;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     background-color: #fff;
 }

 th,
 td {
     padding: 12px 15px;
     text-align: center;
     border-bottom: 1px solid #ddd;
 }

 th {
     background-color: #3498db;
     color: white;
 }

 tr:hover {
     background-color: #1b9971;
 }

 caption {
     caption-side: top;
     font-size: 1.5em;
     margin-bottom: 10px;
     color: #333;
 }